* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden; 
}


.navbar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    background: #fff;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2vw;
    color: #666;
}

.nav-links li {
    cursor: pointer;
}

.nav-links li:hover {
    color: #1da1f2;
}

.user {
    background: #e8f4ff;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 0.9rem;
    color: #0d9cff;
}


.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}


.hero-left {
    flex: 1;
}

.hero-left h1 {
    font-size: 3rem;
    color: #444;
    line-height: 1.2;
}

.hero-left span {
    color: #1da1f2;
}

.hero-left p {
    margin: 20px 0;
    max-width: 500px;
    color: #777;
    line-height: 1.6;
}

.hero-left button {
    padding: 14px 28px;
    background: #1da1f2;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
}


.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-right img {
    width: 80%;
    max-width: 420px;
}
